.navbar-default{
    background-color: #1385e5;
    color: white;
    line-height: 40px;
    position: fixed;
    z-index: 109;
    width: 100%;
}

.navbar-nav{
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1170px;
    clear: both;
}
.navbar-content{
    max-width: 1170px;
    margin-left:auto;
    margin-right:auto;
}
.nav.navbar-nav li a{
    background: transparent;
    color:#fff;
}

.dashboard{
    font-size: 2em;
    font-weight: 300;
    max-width: 1170px;
    border-bottom: 2px solid rgba(0,0,0,0.1);
    margin-bottom: 40px;
    margin-top: 40px;
    padding-bottom: 1em;
}
.dashboard-group-heading{
    color: #999;
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: .75em;
}