<div class="alert alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>Title!</strong> Alert body ...
</div>
<div class="auth-box">
  <h1 class="u-hidden-visually">
    <!-- react-text: 6 -->
    <!-- /react-text -->
    <!-- react-text: 7 -->
    <!-- /react-text -->
  </h1>
  <div class="auth-box__inner">
    <div class="auth-box__col">
      <div class="auth-box__brand">
        <a href="/" class="auth-box__brand__logo">
          <img src="/keystone/images/logo.png" width="205" height="68" alt=" /data">
        </a>
      </div>
    </div>
    <div class="auth-box__col">
      <form novalidate="" class="Form_120drhm">
        <div class="FormField_7l2zw7" for="email">
          <label for="email" class="FormLabel_whyo7j">用户名</label>
          <input type="email" name="email" value="111@qq.com" id="4g6mza1w0" class="FormInput_1vxy8pn">
        </div>
        <div class="FormField_7l2zw7" for="password">
          <label for="password" class="FormLabel_whyo7j">密码</label>
          <input type="password" name="password" value="111" id="os19ml3ak" class="FormInput_1vxy8pn">
        </div>
        <button type="submit" class="btn btn-primary" routerLink="/admin/">登陆 </button>
      </form>
    </div>
  </div>
</div>